<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button [routerLink]="['/']">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="primary">Auth Page</ion-title>
</ion-toolbar>

<ion-content class="ion-padding-horizontal">
  <ion-text class="ion-padding-vertical text">
    <h2>Welcome to Notes. Pen things down by subjects</h2>
  </ion-text>
  <ng-container
    *ngIf="isAuthenticated; then authenticated; else notAuthenticated">
  </ng-container>

  <ng-template #notAuthenticated>
    <ion-item *ngIf="isSignUp">
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="user.name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="user.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
    <ion-button
      class="ion-padding-vertical"
      expand="block"
      size="large"
      *ngIf="isSignUp"
      class="ion-padding-vertical"
      (click)="signUp()"
    >
      Sign Up
    </ion-button>
    <ion-button
      class="ion-padding-vertical"
      expand="block"
      size="large"
      *ngIf="!isSignUp"
      class="ion-padding-vertical"
      (click)="logIn()"
    >
      Log In
    </ion-button>
  </ng-template>

  <ng-template #authenticated>
    <ion-button
      expand="block"
      size="large"
      class="ion-padding-vertical"
      (click)="logOut()"
    >
      Log Out
    </ion-button>
  </ng-template>
  <div>
    <ion-button (click)="changeAuthType()" fill="clear">
      {{ isSignUp && "Sign In" || "Sign Up" }}
    </ion-button>
  </div>
</ion-content>
