<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button [routerLink]="['/']">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="primary">Auth Page</ion-title>
</ion-toolbar>

<ion-content class="ion-padding-horizontal">
  <ion-text class="ion-padding-vertical text">
    <h2>Welcome to Notes. Pen things down by subjects</h2>
  </ion-text>
  <ion-button
    class="auth-button"
    fill="outline"
    color="primary"
    (click)="signInGoogle()"
  >
    Sign in with Google
  </ion-button>
</ion-content>
