<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="primary" [routerLink]="['/']">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="primary">Auth Page</ion-title>
</ion-toolbar>

<ion-content padding>
  <ion-text color="primary" class="ion-padding-vertical text">
    <h2>Welcome to Notes. Pen things down by subjects</h2>
  </ion-text>
  <ng-container
    *ngIf="isAuthenticated; then authenticated; else notAuthenticated">
  </ng-container>

  <ng-template #notAuthenticated>
    <ion-item *ngIf="isSignUp">
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="user.name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="user.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
    <ion-text color="danger" class="ion-margin">{{ message }}</ion-text>

    <ion-row class="ion-justify-content-between ion-padding-bottom" #notAuthenticated>
      <ion-button
        *ngIf="isSignUp"
        [disabled]="loading"
        (click)="signUp()"
      >
        Sign Up
      </ion-button>
      <ion-button
        *ngIf="!isSignUp"
        [disabled]="loading"
        (click)="logIn()"
      >
        Log In
      </ion-button>
        
      <ion-button (click)="changeAuthType()">
        {{ isSignUp && "Log In instead" || "Sign Up instead" }}
      </ion-button>
    </ion-row>
  </ng-template>

  <ng-template #authenticated>
    <ion-button
      class="ion-margin-bottom"
      expand="block"
      (click)="logOut()"
    >
      Log Out
    </ion-button>
  </ng-template>
  
  <ion-button
    class="ion-margin-top"
    expand="block"
    (click)="presentThemeSheet()"
  >
    Set Theme
  </ion-button>
</ion-content>
