<ion-toolbar>
  <ion-title color="primary">
    Subjects
  </ion-title>
  <ion-buttons slot="secondary">
    <ion-button [routerLink]="'/auth'">
      <ion-icon color="primary" slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

<ion-content (pointerdown)="handlePageClick($event)">
  <ion-col size-sm="6" size="12" *ngIf="isCreatingNew">
      <ion-card class="subject new-subject">
        <ion-card-header>
          <ion-card-title color="primary" color="primary">
            <div class="title">
              <p *ngIf="!newSubject.title.length" class="placeholder">Write a title...</p>
              <p class="title-content" (input)="handleTitleChange($event)" contenteditable></p>
            </div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="summary">
            <p *ngIf="!newSubject.summary.length" class="placeholder">Summary...</p>
            <p class="summary-content" (input)="handleSummaryChange($event)" contenteditable></p>
          </div>
        </ion-card-content>
      </ion-card>
  </ion-col>
  
  <div *ngIf="subjects?.length === 0 && !loading" class="empty">
    <object class="no-subjects ion-padding-bottom" data="../../assets/svgs/no-subjects.svg"></object>
    <ion-text color="primary ion-padding-top ion-text-center">
      <h4>You currently have no subjects</h4>
    </ion-text>
  </div>

  <ion-card [routerLink]="['/subject/'+subject.id]" class="subject" *ngFor="let subject of subjects;">
    <ion-card-header>
      <ion-card-subtitle *ngIf="subject.subtitle">{{ subject.subtitle }}</ion-card-subtitle>
      <ion-card-title color="primary">{{ subject.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ subject.summary }}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNew()" translucent>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
