@keyframes newSubjectEnter {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.new-subject {
  animation: newSubjectEnter 500ms;
  div.title {
    position: relative;
    height: 30px;
    .title-content {
      position: absolute;
      height: inherit;
      width: 100%;
      font-weight: 700;
      margin: 0;
      font-size: 20px;
    }
    p.placeholder {
      margin: 0;
      position: absolute;
      color: rgba($color: #999999, $alpha: 0.3);
    }
  }
  div.summary {
    position: relative;
    height: 20px;
    .summary-content {
      position: absolute;
      height: inherit;
      width: 100%;
      margin: 0;
    }
    p.placeholder {
      margin: 0;
      position: absolute;
      color: rgba($color: #999999, $alpha: 0.3);
    }
  }
  *:focus {
    outline: none;
  }
}

ion-card.subject {
  background-color: var(--subject-background-color);
  box-shadow: 1px 1px 7px 0px rgba($color: #999999, $alpha: 0.2);
  margin-bottom: 20px;
  border-radius: 12px;
  &:hover {
    box-shadow: 1px 1px 10px 0px rgba($color: #999999, $alpha: 0.5);
  }
  ion-card-title {
    font-weight: 700;
  }
}