// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #5644fa;
  --ion-color-primary-rgb: 77,58,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #4433e0;
  --ion-color-primary-tint: #5f4eff;

  /** secondary **/
  --ion-color-secondary: #fb00ec;
  --ion-color-secondary-rgb: 251,0,236;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #dd00d0;
  --ion-color-secondary-tint: #fb1aee;

  /** tertiary **/  
  --ion-color-tertiary: #00ffd2;
  --ion-color-tertiary-rgb: 0,255,210;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #00e0b9;
  --ion-color-tertiary-tint: #1affd7;
  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  
  --ion-text-color: #000;
  --ion-background-color: #f1f1f1;
  --subject-background-color: #ffffff;
  --subject-text-color: #636363;

  --medium-text-color: #111111
}


:root {
  .dark {
    --ion-color-primary: #6051e7;
    --ion-color-primary-rgb: 37,58,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #4e3fcf;
    --ion-color-primary-tint: #5351ce;

    --ion-text-color: #cccccc;
    --ion-background-color: #141414;
    --ion-background-color-rgb: 20,20,20;
    --ion-backdrop-color: #040404;
    
    --subject-background-color: #000000;
    --subject-text-color: #939393;

    --medium-text-color: #cccccc
  }

}

:root {
  .purple {
    --ion-color-primary: #5644fa;
    --ion-color-primary-rgb: 77,58,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #4433e0;
    --ion-color-primary-tint: #5f4eff;
  }
}

:root {
  .pink {
    --ion-color-primary: #d102c3;
    --ion-color-primary-rgb: 209,2,195;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #c003b3;
    --ion-color-primary-tint: #e90fde;
  }
}

:root {
  .black {
    --ion-color-primary: #000000;
    --ion-color-primary-rgb: 0,0,0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #161616;
    --ion-color-primary-tint: #353535;
  }
}

:root {
  .red {
    --ion-color-primary: #e2382c;
    --ion-color-primary-rgb: 226,56,44;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #f34c1a;
    --ion-color-primary-tint: #ff4128;
  }
}

:root {
  .green {
    --ion-color-primary: #019626;
    --ion-color-primary-rgb: 0,182,45;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #09b803;
    --ion-color-primary-tint: #2ddf00;
  }
}