<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="primary" [routerLink]="['/']">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="primary">
    {{ subject?.title }}
  </ion-title>
</ion-toolbar>

<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

<ion-content>
  <ion-text class="ion-text-center ion-margin-bottom">
    <p>{{ subject?.summary }}</p>
  </ion-text>
  
  <div *ngIf="notes?.length == 0" class="empty">
    <ion-icon color="primary" name="book"></ion-icon>
    <ion-text color="primary">
      <h4>No notes in this subject</h4>
    </ion-text>
  </div>
  
  <ion-card class="ion-margin-vertical note" [routerLink]="['/note/'+ note.id]" *ngFor="let note of notes">
    <ion-card-header>
      <ion-card-subtitle *ngIf="!!note.subject">{{ note.subject.title }}</ion-card-subtitle>
      <ion-card-title color="primary">
        <h1>{{ note.title }}</h1>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content [innerHTML]="note.content"></ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/note/'+subjectId + '/new']" translucent>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
