<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="primary" [routerLink]="['/']">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title color="primary">
    Notes
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/note']" *ngFor="let item of items">
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/note']" translucent>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
