// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.danger {
  color: red !important;
}

[contenteditable]:focus {
  outline: none;
}

.medium-editor {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
  line-height: 1.2;
  color: var(--medium-text-color);
  height: 100%;
   &:focus, *:focus {
     outline: none;
   }
   p {
     font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
     line-height: 1.3;
     margin: 5px 0;
   }
   ul {
     padding-left: 20px;
   }
 }
 
.medium-editor-toolbar.medium-toolbar-arrow-under:after {
  top: -8px !important;
  transform: rotateZ(180deg) !important;
}

@media screen and (min-width: 890px) {
  ion-content {
    --padding-start: calc((100vw - 890px) / 2);
    --padding-end: calc((100vw - 890px) / 2);
  }
  .medium-editor {
    padding-left: calc((100vw - 890px) / 2);
    padding-right: calc((100vw - 890px) / 2);
  }
}