.medium-editor {
 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
 line-height: 1.5;
  &:focus, *:focus {
    outline: none;
  }
  p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    line-height: 1.5;
  }
}
