<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="primary" [routerLink]="['/subject/' + subjectId]">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title (input)="handleTitleChange($event)" tabindex="0"  contentEditable="true" color="primary">
    Note
  </ion-title>
</ion-toolbar>

<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

<ion-content class="ion-padding">
  <div class="medium-editor" (contextmenu)="handleContextMenu($event)">
      With the information about the exact positions of each element now computed, all that is left is to ‘paint’ the elements to the screen.

      Think about it. We’ve got every information required to actually display the elements on the screen. Let’s just get it shown to the user, right?
      
      Yes! That’s exactly what this stage is all about.
      
      With the information on the content (DOM), style (CSSOM), and exact layout of the elements computed, the browser now “paints” the individual node to the screen.
      
      Finally, the elements are now rendered to the screen!
  </div>
</ion-content>
