ion-title:focus {
  outline: none;
  border-bottom: 1px solid rgba($color: #777777, $alpha: 0.3);
}

.medium-editor {
 font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
 line-height: 1.2;
  &:focus, *:focus {
    outline: none;
  }
  p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    line-height: 1.5;
  }
}
